<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lookupMethodBean" class="wpbxin.bean.lookupmethod.LookupMethodBean">
		<lookup-method name="getBean" bean="student" />
	</bean>
	<bean id="teacher" class="wpbxin.bean.lookupmethod.Teacher" />
	<bean id="student" class="wpbxin.bean.lookupmethod.Student" />
</beans>