<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myns="http://www.wpbxin.com.cn/schema/customComponent"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.wpbxin.com.cn/schema/customComponent
	   http://www.wpbxin.com.cn/schema/spring-xml-custom.xsd">

	<myns:customComponent id = "customComponent" name="cc" flag="true" />
</beans>